.git
.gitignore
.github
.venv
venv
.env
.env.*
!.env.example

__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
build
dist
.eggs

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
coverage.xml

.idea
.vscode
.DS_Store

tests
docs
*.md
!README.md

node_modules
*.log
